        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <ul class="navbar-nav">
    
    <li class="nav-item">
      <a class="nav-link" href="{{path('security')}}" style="color:white">Inscription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('security_login')}}" style="color:white">Connexion</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" style="color:white">Presentation</a>
    </li>
    
    
  </ul>
</nav>